<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- <% if (memberInfo) { %>
        <h3><%= memberInfo.ename %> 환영합니다</h3>
        
    <% } else { %>
        <script>
            alert('로그인 실패');
            window.location.href='http://192.168.20.145:3000/';           
        </script>
    <% } %> -->

    hello 
    
</body>
</html>